:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* text-colors */
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --secondary-text-color: #212121;

  /* background colors */
  --main-backgroud-color: #ffffff;
  --secondary-backround-color: #f5f4fa;
  --dark-background-color: #2f303a;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.link {
  text-decoration: none;
  color: currentColor;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.button {
  font-family: inherit;
  color: currentColor;
}

.header-list,
.header-group,
.about-list,
.lessons-list,
.team-list,
.footer-list,
.filters-list,
.project-list {
  list-style-type: none;
}

/* 
===================
| Header-section 
===================
*/
.header {
}

.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.navigation-link:hover,
.navigation-link:focus {
  color: #2196f3;
}
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;
}

.accent-logo {
  color: var(--accent-color);
}
.header-phone,
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
}

.header-phone:hover,
.header-phone:focus {
  color: var(--accent-color);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}

/* 
===================
| Hero-section 
===================
*/

.hero-section {
  background-color: var(--dark-background-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background: #2f303a;
}
.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  color: #212121;
  background-color: #f5f4fa;
}

.button:hover,
.button:focus {
  background-color: #2196f3;
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  color: #ffffff;
  background-color: #2196f3;
}
/* 
===================
| about-section 
===================
*/
.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}
.about-benefits {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
/* 
===================
| lessson-section 
===================
*/
.lesson-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
/* 
===================
| team-section 
===================
*/
.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}

/* 
===================
| filters-section 
===================
*/

/* 
===================
| project-section 
===================
*/

.project-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
}

.project-paragraph {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
/* 
===================
| footer-section 
===================
*/
.footer {
  background-color: #2f303a;
}
.logo-footer {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}
.address-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail,
.footer-phone {
  color: rgba(255, 255, 255, 0.6);
}
